<header class="bg-green-200 py-4">
  <nav>
    <ul class="flex flex-row justify-center">
      <li class="text-4xl font-bold">
        <a href="">
          <p>ৰ-জীবন:</p>
        </a>
      </li>
    </ul>
    
  </nav>
  
</header>