---
layout: layout
title: "Delta Lives"
---

<div class="flex-1" id="map"></div>
<section class="hidden">
  {% for submission in list %}
    <div id=submission-{{submission.id}}
          class="w-full h-full">
      <p>{{ submission.name }} </p>
      <p>{{ submission.description }} </p>
      {% if submission.mediaType == 'image' %}
      <img src={{submission.mediaUrl}} alt="image">
      {% endif %}
      {% if submission.mediaType == 'video' %}
      <video src="{{submission.mediaUrl}}" controls></video>
      {% endif %}
    </div>
  {% endfor %}
</section>

<script>
  var map = L.map('map', {
    crs: L.CRS.Simple,
    minZoom: -1
  });
  const imgWidth = 2000, imgHeight = 1128
  var bounds = [[0,0], [imgHeight, imgWidth]];
  var image = L.imageOverlay('assets/img/map.png', bounds).addTo(map);
  map.fitBounds(bounds);

  var yx = L.latLng;
  var xy = function(x, y) {
      if (L.Util.isArray(x)) {    // When doing xy([x, y]);
          return yx(x[1], x[0]);
      }
      return yx(y, x);  // When doing xy(x, y);
  };

  const init = async () => {
    const submissions = await (await fetch('/submissions.json')).json()
    submissions.forEach(item => {
      let marker = xy(Math.random()*imgWidth, Math.random()*imgHeight)
      let popup = L.popup()
              .setContent(document.querySelector(`#submission-${item.id}`))
      L.marker(marker).addTo(map).bindPopup(popup.getContent());
    })


  }

  init()
  

  

</script>

